*,*::before,*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-family: 'Roboto', sans-serif;
	font-size: 9px;
}
body{
	overflow-x: hidden;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
header{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.container{
	width: 100%;
	max-width: 117rem;
	margin: 0 auto;
	padding: 0 1.5rem;
}
.menu-icons{
	color: #eee;
	font-size: 4rem;
	position: absolute;
	top: 50%;
	right: 2rem;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 1500;
	display: none;
}

nav{
	display: flex;
	align-items: center;
	width: 100%;
	height: 10rem;
	 transition: all 0.5s ease-in-out;
	/* border-bottom: 1px solid rgba(255,255,255,0.1); */
	padding: 80px 10px;
	top: 0;
	position: fixed;
	z-index: 1000;
	left: 0rem;
}
#navbar1{
	display: flex;
	align-items: center;
	width: 100%;
	height: 10rem;
	 transition: all 0.5s ease-in-out;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	padding: 20px 10px;
	top: 0;
	position: fixed;
	z-index: 1000;
	left: 0rem;
	background-color: white;
}
.logo{
	width: 7rem;
	height: 7rem;
	background-color: #778b69;
	display: flex;
	 transition: all 0.5s ease-in-out;
	border-radius: 100%;
	margin-right: 5rem;
}
.logo img{
	margin: auto;
	font-size: 3rem;
	color: #eee;
}
.logo .shoes {
	width: 7rem;
	height: 7rem;
	background-color: #778b69;
	display: flex;
	 transition: all 0.5s ease-in-out;
	border-radius: 100%;
	margin-right: 5rem;
}
.nav-list{
	display: flex;
	width: 100%;
	align-items: center;
	
}
.nav-list li{
	line-height: 8rem;
	position: relative;
}
.sub-menu li{
	line-height: 4rem;
}
.nav-list a{
	display: block;
	color: #eee;
	margin-left: 0.4rem;
	margin-right: 0.4rem;
	padding: 0 1.5rem;
	font-size: 1.8rem;
	text-transform: uppercase;
	transition: color 650ms;
}
.nav-list a:hover{
	color: #778b69;
}
.nav-list .nav-item-color1{
	color:#778b69 ;
}
.btn{
	padding-top: 0.8rem;
	display: inline-block;
	background-color:#778b69;
	border: 2px solid #778b69;
	border-radius: 5rem;
	transition: background-color 650ms;
}
.btn:hover{
	color: #778b69;
	background-color: rgba(0,0,0,0.2);
}
.sub-menu{
	width: 20rem;
	display: block;
	position: absolute;
	border-top: 3px solid #778b69;
	background-color: #191919;
	z-index: 100;
	top: 16rem;
	opacity: 0;
	visibility: hidden;
	transition: all 650ms ease;
}

.sub-menu::before{
	content: "";
	position: absolute;
	top: -2.5rem;
	left: 3rem;
	border: 1.2rem solid transparent;
	border-bottom-color: #778b69;

}
.sub-menu .sub-menu::before{
	top: 0.9rem;
	left: -2.5rem;
	border: 1.2rem solid transparent;
	border-right-color: #778b69;
}
.sub-menu .sub-menu{
	border-top: none;
	border-left: 3px solid #778b69;
	top: 0;
	left: 160%;

}
.nav-list li:hover > .sub-menu{
	top: 8rem;
	opacity: 1;
	visibility: visible;
}
.sub-menu li:hover > .sub-menu{
	top: 0;
	left: 100%;
}
li.move-right{
	margin: auto 0 auto auto;
	line-height: initial;
}
.process .about-text{
	text-align: center;
	margin-top: 4rem;
	font-size: 3.0rem;
	color: #778b69;
}
@media screen and (max-width:850px)
{
	nav{
		padding: 5px;
		background-color: #000000;
		width: 100%;
		height: 6rem;
		left: 0;
	}
	.logo{
		height: 5rem;
		width: 5rem;
	}
	.nav-list{
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		display: none;
		flex-direction: column;
		align-items: initial;
		background-color: #191919;
		z-index: 1000;
		overflow-y: scroll;
	}
	.nav-list a{
		font-size: 1.5em;
	}
	.nav-list > li{
		line-height: 6rem;
	}
	.sub-menu{
		position: initial;
		border: 3px solid transparent;
		border-left-color: #778b69;
		margin-left: 1rem;
		max-height: 0;
	}
	.sub-menu::before{
		display: none;
	}
	.nav-list li:hover > .sub-menu{
		opacity: 1;
		visibility: visible;
		max-height: initial;
	}
	li.move-right{
		margin: 0 auto 0 0;
		line-height: initial;
	}
	.menu-icons{
		display: block;
	}
	.ion-md-close{
		display: none;
	}
	nav.active .ion-md-close{
		display: block;
	}
	nav.active .ion-md-menu{
		display: none;
	}
	nav.active .nav-list{
		display: flex;
	}
}
.hero{
   	width: 100%;
    height: 100vh;
    /* background: linear-gradient(to bottom, rgba(0,0,0,0.8),rgba(0,0,0,0.8)), */
    background:url("images/background2.jpg")  no-repeat;
    background-size: cover;
    overflow: hidden;
}
/* .hero::after{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	background-image: url("images/wave-bottom.svg");
	height: 27rem;
} */
.text{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
    text-align: center;
}

.text h1{
    font-size: 8rem;
    margin: 2rem 0;
    font-family: 'Blastimo', sans-serif;
}

.text h2{
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 300;
}

.text p{
    font-size: 1.6rem;
    margin-bottom: 5rem;
}

.text .btn{
	margin-top: 4rem;
	height: 5rem;
	width: 25rem;
    font-size: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    color: #eee;
    text-transform: uppercase;
}

@media screen and (max-width: 830px){
    .text h1{
        font-size: 4rem;
    }

    .text .btn{
        font-size: 1.2rem;
    }
}
.process-about{
	width: 25rem;
	font-size: 1.0rem;
	margin-right: 2rem;
}
.process-about-text{
	font-size: 2.4rem;
	position: relative;
	top: -3.8rem;
	left: 1rem;
}
.process .process-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.process-container > div{
	margin: 3.5rem;
}
.process .css-radius{
	background-color: #dba254;
	border-radius: 48% 24% 43% 25% / 31% 29% 41% 55%;
	height: 15rem;
	width: 15rem;
	margin: 5rem;	
}
.process .css-radius1{

	background-color:#778b69 ;
	border-radius: 48% 24% 43% 25% / 31% 29% 41% 55%;
	height: 15rem;
	width: 15rem;
	margin: 5rem;
}
.process .process-img{
	position: relative;
	height: 10rem;
	width: 10rem;
	margin-right:10rem;
	left: -5rem;
	top: -5rem;
}
.process .process-text{
	position: relative;
	font-size: 3.5rem;
	top: -9rem;
	left: 2.3rem;
	color: white;
}
.process .process-text1{
	position: relative;
	font-size: 3.5rem;
	top: -8rem;
	left: 7rem;
	color: white;
}
.green-font{
	color: #778b69;
}
.orange-font{
	color: #dba254;
}
.process .button{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}
.process .button .btn{
	font-size: 1.6rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: #eee;
    text-transform: uppercase;
}
.about{
	background: url('images/back-mount.jpg') center no-repeat;
	background-size: cover;
	margin-top: 15rem;
	height: 100vh;
	width: 100%;
}
.white-background{
	background-color: rgba(255,255,255,0.9);
	height: 100%;
	width: 100%;
}
.about .about-grey{
	position: relative;
	height: 50rem;
	width: 100rem;
	top: -10rem;
	left: 25rem;
	border-radius: 52% 18% 50% 26% / 26% 29% 41% 42%;
	background-color: #778b69;

}
.about .about-orange{
	position: relative;
	height: 35rem;
	width: 35rem;
	top: 6rem;
	left: -12rem;
	background-color: #dba254;
	border-radius: 34% 14% 38% 24% / 26% 29% 46% 34%;
	padding: 2rem;
	margin: 0;

}
.about .process-text{
	font-size: 2.5rem;
	color: white;
}
.about .about-box{
	height: 42rem;
	width: 63rem;
	padding: 1.5rem;
	position: relative;
	background-color: white;
	border-style: none;
	top: 5rem;
	left: 12rem;
	box-shadow: 2px 4px 3px 0px rgba(88,88,88,0.4)
}
.about .flex{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.flex{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.login-form .flex{
	flex-direction: column;
}
.login-form h1{
	font-size: 1.5rem;

}
.login-form .input{
	height: 4.3rem;
	width: 95%;
	margin: 0.8rem;
	border-style: solid;
	border-width: 0.01rem;
	border-color:#effab6;
}
.login-form .btn{
	height: 4.3rem;
	width: 20%;
	margin: 0.8rem;
	border-radius: 1rem;
	background-color: #778b69;
}
.about .circle{
	height: 20rem;
	width: 20rem;
	padding: 2rem;
	border-radius: 50%;
	background-color: white;
	position: relative;
	left: 33%;
	top: 7rem;
	z-index: 10;
}
.title{
	font-size: 3.5rem;
	color: #778b69;
}
.sub-title{
	font-size: 2.2rem;
	color: #dba254;
}
.content{
	font-size: 1.5rem;
	color: #778b69;
}
@media (min-width: 400px) and (max-width: 750px){
	.about{
		height: 100%;
	}
	.about .circle{
		left: 30%;
		top: 2rem;
		height: 15rem;
		width: 15rem;
		padding-left: 4rem;
	}
	.sub-title
	{
		font-size: 1.6rem;
	}
	.about .about-grey{
	height: 115rem;
	width: 35rem;
	top: -10rem;
	left: 0;
	background-color: transparent;

	}
	.about .about-orange{
	height: 25rem;
	width: 32rem;
	top: 10rem;
	left: 3rem;
	padding: 2rem;
	margin: 0;

}
.about .process-text{
	font-size: 2rem;
	top: -1rem;
	left: 2.3rem;
}
.about .about-box{
	height: 68rem;
	width: 32rem;
	padding: 1.5rem;
	left: 3rem;
	top: 12rem;
}
}
@media (min-width: 750px) and (max-width: 900px){
	.about{
	height: 100%;
}
	.about .circle{
		left: 40%;
		top: 2rem;
		height: 20rem;
		width: 20rem;
		padding-left: 4rem;
	}
	.sub-title
	{
		font-size: 2rem;
	}
	.about .about-grey{
	height: 90rem;
	width: 80rem;
	top: -10rem;
	left: 0rem;
	}
	.about .about-orange{
	height: 35rem;
	width: 50rem;
	top: 10rem;
	left: 0rem;
	padding: 2rem;
}
.about .process-text{
	font-size: 3rem;
	top: -1rem;
	left: 2.3rem;
}
.about .about-box{
	height: 40rem;
	width: 70rem;
	padding: 1.5rem;
	left: -1rem;
	top: 15rem;	
}
}
@media (min-width: 900px) and (max-width: 1100px){
	.about{
	height: 100%;
}
	.about .circle{
		left: 40%;
		top: 2rem;
		height: 20rem;
		width: 20rem;
		padding-left: 4rem;
	}
	.sub-title
	{
		font-size: 2rem;
	}
	.about .about-grey{
	height: 90rem;
	width: 80rem;
	top: -10rem;
	left: 10rem;
	}
	.about .about-orange{
	height: 35rem;
	width: 50rem;
	top: 10rem;
	left: 0rem;
	padding: 2rem;
}
.about .process-text{
	font-size: 3rem;
	top: -1rem;
	left: 2.3rem;
}
.about .about-box{
	height: 40rem;
	width: 70rem;
	padding: 1.5rem;
	left: 0rem;
	top: 15rem;
}
}
@media (min-width: 280px) and (max-width: 400px){
	.about{
	height: 100%;
}
	.about .circle{
		left: 30%;
		top: 2rem;
		height: 13rem;
		width: 13rem;
		padding-left: 4rem;
		padding-bottom: 3rem;
	}
	.sub-title
	{
		font-size: 1.6rem;
	}
	.about .about-grey{
	height: 115rem;
	width: 35rem;
	top: -10rem;
	left: 0;
	}
	.about .about-orange{
	height: 25rem;
	width: 100%;
	top: 10rem;
	left: -1rem;
	padding: 2.5rem;
	margin: 0;
}
.about .process-text{
	font-size: 2rem;
	top: -1rem;
	left: 2.3rem;
}
.about .about-box{
	height: 73rem;
	width: 30rem;
	padding: 1.5rem;
	left: -1.5rem;
	top: 12rem;

}
}
.newsletter .news
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color:#778b69 ;
	height: 100%;
	width: 100%;
	padding: 2rem;
}
.newsletter .news>div{
	margin: 0.35rem;
}
.newsletter .newsletter-text{
	font-size: 2rem;
	color: white;
	margin-right: 3rem;
	margin-top: 0.6rem;
}
.newsletter .search-box{
	height: 4rem;
	width: 25rem;
	background-color: white;
	padding: 0.7em;
}
.newsletter .search-box .search-placeholder{
	font-size: 1.7rem;
	color:#778b69;

}
.newsletter .suscribe-btn{
	height: 4rem;
	width: 15rem;
	background-color: #dba254;
	color: white;
	border-radius: 0.5rem;
	padding: 0.7em;
}
.newsletter .suscribe-btn .suscribe-placeholder{
	font-size: 2rem;
	color: white;
	margin-left: 2rem;
}
header::after{
	content: '';
	display: block;
}
header{
	position: relative;
}

.login{
	background-color: #f9dbff;
	z-index: -1000;
	position: relative;
	height: 74vh;
	width: 100%;
}
.login .flex .white-box,.orange-box{
	margin: 5rem;
}
.login .white-box{
	height: 30rem;
	width:47rem;
	background-color: white;
	position: relative;
	top: 12rem;
	z-index: 10;
	padding: 1.5rem;
}
.login .orange-box{
	height: 30rem;
	width: 47rem;
	background-color: #dba254;
	position: relative;
	top: 12rem;
	z-index: 10;
	padding: 2rem;
}
.login .login-title{
	color: #778b69;
	font-size: 2rem;
}
.login .btn{
	color: white;
	padding: 1.5rem;
}
.login-form a{
	color: red;
	font-size: 1.9rem;
}
.login-form .btn-container{
	margin: 0;
}
.login .orange-box p{
	color: white;
	font-size: 2rem;
}
.login .orange-box .button{
	height: 5rem;
	width: 10rem;
	background-color: white;
	color: #dba254;
	margin-top: 1.5rem;
	margin-left: 1.5rem;
	border-radius: 1rem;
	padding: 1.1rem;
	font-size: 2rem;
}
@media (min-width:700px) and (max-width: 1100px){
	.login{
		height: 114vh;
	}
	.login .white-box{
	top: 10.5rem;
}
.login .orange-box{
	top: 10.5rem;
}
.login .flex .white-box,.orange-box{
	margin: 0.4rem;
}
}
@media (min-width:400px) and (max-width: 700px){
	.login{
		height: 105vh;
	}
	.login .white-box{
	top: 10.5rem;
}
.login .orange-box{
	top: 10.5rem;
}
.login .flex .white-box,.orange-box{
	margin: 0.4rem;
}
.login .white-box{
	height: 27rem;
	width:37rem;
	}
.login .orange-box{
	height: 27rem;
	width: 37rem;
	
}
.login .btn{
	color: white;
	padding: 1.0rem;
}
.login .orange-box .button{
	height: 4rem;
	width: 8rem;
	padding: 1.0rem;
	font-size: 1.5rem;
}
	}
	@media (min-width:350px) and (max-width: 400px){
	.login{
		height: 105vh;
	}
	.login .white-box{
	top: 10.5rem;
}
.login .orange-box{
	top: 10.5rem;
}
.login .flex .white-box,.orange-box{
	margin: 0.4rem;
}
.login .white-box{
	height: 27rem;
	width:37rem;
	}
.login .orange-box{
	height: 27rem;
	width: 37rem;
	
}
.login .btn{
	color: white;
	padding: 1.0rem;
}
.login .orange-box .button{
	height: 4rem;
	width: 8rem;
	padding: 1.0rem;
	font-size: 1.5rem;
}
	}
	@media (min-width:300px) and (max-width: 350px){
	.login{
		height: 107vh;
	}
	.login .white-box{
	top: 10.5rem;
}
.login .orange-box{
	top: 10.5rem;
}
.login .flex .white-box,.orange-box{
	margin: 0.4rem;
}
.login .white-box{
	height: 28rem;
	width:37rem;
	}
.login .orange-box{
	height: 28rem;
	width: 37rem;
	
}
.login .btn{
	color: white;
	padding: 0.4rem;
}
.login .orange-box .button{
	height: 4rem;
	width: 8rem;
	padding: 1.0rem;
	font-size: 1.5rem;
	margin: 0;
}
	}
.ecommercecard{
	display: flex;
	flex-flow: row wrap;
	gap: 0rem;
}


#cauli{
	height: 150px;
	width: 180px;
}

.container1{
	position: relative;
	margin-left: 5%;
	margin-top: 5%;

}

.container1 .card{
	position: relative;
	width: 28rem;
	height: 40rem;
	background:#182621;
	border-radius: 20px;
	overflow: hidden;
}

.container1 .card:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #778b69;
	clip-path: circle(150px at 80% 20%);
	transition: 0.5s ease-in-out;

}

.container1 .card:hover:before{
	clip-path: circle(300px at 80% 20%);

}

.container1 .card:after {
	content: '';
	position: absolute;
	top: 30%;
	left: -20%;
	font-size: 12em;
	font-weight: 800;
	font-style: italic;
	color: rgb(255,255,255,0.04);

	
}

.container1 .card .imgBx{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	width: 100%;
	height: 220px;
	transition: 0.5s;
}

.container1 .card:hover .imgBx{
	top: 0%;
	transform: translateY(0%);
}

.container1 .card .imgBx img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) rotate(-25deg); 
	width: 270px;
}

.container1 .card .contentBx{
	position: absolute;
	bottom: -3rem;
	width: 100%;
	height: 100px;
	text-align: center;
	transition: 1s;
	z-index: 10;
	
}

.container1 .card:hover .contentBx{
	height: 210px;
	bottom: 0;
	
}

.container1 .card .contentBx h2{
	position: relative;
	font-weight: 600;
	letter-spacing: 1px;
	color: #fff;
	font-size: 3rem;
}

.container1 .card .contentBx .size{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 20px;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
}

.container1 .card:hover .contentBx .size{
	opacity: 1;
	visibility: visible;
	transition-delay: 0.5s;
}

.container1 .card .contentBx .size h3{
color: #fff;
font-weight: 300;
font-size: 14px;
text-transform: uppercase;
letter-spacing: 2px;
margin-right: 10px;
}

.container1 .card .contentBx .size span{
	width: 55px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	font-size: 14px;
	display: inline-block;
	color: #111;
	background: #fff;
	margin: 0 5px;
	transition: 0.5s;
	color: #111;
	border-radius: 4px;
	cursor: pointer;
}

.container1 .card .contentBx .size span:hover{
background: #9bdc28;

}

.container1 .card .contentBx a{
	display: inline-block;
	padding: 15px 40px;
	background: #fff;
	border-radius: 4px;
	margin-top: 20px;
	text-decoration: none;
	font-weight: 600;
	color: #111;
	opacity: 0;
	transform: translateY(50px);
	transition: 0.5s;
	font-size: 1.5rem;
}

.container1 .card:hover .contentBx a{
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.75s;
}
:root{
    --primary: #2175f5;
}

*{
    
    box-sizing: border-box;
   
}


.container3{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    overflow: hidden;
}

.card3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 860px;
    margin-top: 10rem;
}

.shoeBackground{
    position: relative;
    width: 50%;
    height: 475px;
    box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
    transition: .5s;
}

.gradients{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -2;
}

.first{
    z-index: 0;
    animation: 1s width ease;
}

@keyframes width{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

.second{
    z-index: -1;
}

.gradient[color="blue"]{
    background-image: linear-gradient(45deg, #0136af, #22abfa);
}

.gradient[color="red"]{
    background-image: linear-gradient(45deg, #d62926, #ee625f);
}

.gradient[color="green"]{
    background-image: linear-gradient(45deg, #11998e, #1ce669);
}

.gradient[color="orange"]{
    background-image: linear-gradient(45deg, #fc4a1a, #f7b733);
}

.gradient[color="black"]{
    background-image: linear-gradient(45deg, #111, #666);
}

.logo1{
    position: absolute;
    width: 100px;
    left: 20px;
    top: 20px;
}

.share{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--primary);
    transition: .5s;
}

.share:hover{
    transform: scale(1.1);
}

.share i{
    line-height: 50px;
}

.nike{
    position: absolute;
    top: 50px;
    left: 15px;
    font-size: 11rem;
    text-transform: uppercase;
    line-height: .9;
    color: #fff;
    opacity: .1;
}

.shoe{
    position: absolute;
    width: 140%;
    opacity: 0;
    bottom: 0;
    right: 0;
    transform: rotate(-20deg);
    transition: .5s;
}

.shoe.show{
    opacity: 1;
}

.info{
    width: 50%;
    background-color: #fff;
    z-index: 1;
    padding: 35px 40px;
    box-shadow: 15px 0 35px rgba(0, 0, 0, 0.1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
}

.shoeName{
    padding: 0 0 10px 0;
}

.shoeName div{
    display: flex;
    align-items: center;
}

.shoeName div .big{
    margin-right: 10px;
    font-size: 2rem;
    color: #333;
    line-height: 1;
}

.shoeName div .new{
    background-color: var(--primary);
    text-transform: uppercase;
    color: #fff;
    padding: 3px 10px;
    border-radius: 5px;
    transition: .5s;
}

.shoeName .small{
    font-weight: 500;
    color: #444;
    margin-top: 3px;
    text-transform: capitalize;
}

.shoeName, .description, .color-container, .size-container{
    border-bottom: 1px solid #dadada;
}

.description{
    padding: 10px 0;
}

.description h3{
    color: #3a3a3a;
    font-weight: 600;
    font-size: 1.6rem;
    /* text-transform: uppercase; */
}

.description .title p{
    color: #555;
    font-size: 17px;
}

.color-container{
    padding: 10px 0;
}

.colors{
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.color{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 10px;
    border: 5px solid;
    cursor: pointer;
    transition: .5s;
}

.color[color="blue"]{
    background-color: #2175f5;
    border-color: #2175f5;
}

.color[color="red"]{
    background-color: #f84848;
    border-color: #f84848;
}

.color[color="green"]{
    background-color: #29b864;
    border-color: #29b864;
}

.color[color="orange"]{
    background-color: #ff5521;
    border-color: #ff5521;
}

.color[color="black"]{
    background-color: #444;
    border-color: #444;
}

.color.active{
    border-color: #fff;
    box-shadow: 0 0 10px .5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.size-container{
    padding: 10px 0;
    margin-bottom: 10px;
}

.sizes{
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.size{
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: #eee;
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.size.active{
    background-color: var(--primary);
    color: #fff;
    transition: .5s;
}

.buy-price{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    color: #333;
    display: flex;
    align-items: flex-start;
}

.price h1{
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 1;
}

.price i{
    font-size: 1.4rem;
    margin-right: 1px;
}

.buy{
    padding: .7rem 1rem;
    background-color: var(--primary);
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.1rem;
    transition: .5s;
}

.buy:hover{
    transform: scale(1.1);
}

.buy i{
    margin-right: 2px;
}

@media (max-width: 1070px){
    .shoe{
        width: 135%;
    }
}

@media (max-width: 1000px){
    .card3{
        flex-direction: column;
        width: 100%;
        box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.2);
    }
    
    .card3 > div{
        width: 100%;
        box-shadow: none;
    }

    .shoe{
        width: 100%;
        transform: rotate(-5deg) translateY(-50%);
        top: 55%;
        right: 2%;
    }

    .nike{
        top: 20%;
        left: 5%;
    }
}

@media (max-width: 600px){
    .share{
        width: 40px;
        height: 40px;
    }

    .share i {
        font-size: 1rem;
        line-height: 40px;
    }

    .logo1{
        width: 70px;
    }
}

@media (max-width: 490px){
    .nike{
        font-size: 7rem;
    }

    .shoeName div .big{
        font-size: 1.3rem;
    }

    .small{
        font-size: 1rem;
    }

    .new{
        padding: 2px 6px;
        font-size: .9rem;
    }

    .title{
        font-size: .9rem;
    }

    .text{
        font-size: .8rem;
    }

    .buy{
        padding: .5rem .8rem;
        font-size: .8rem;
    }

    .price h1{
        font-size: 1.5rem;
    }

    .price i{
        font-size: .9rem;
    }

    .size{
        width: 30px;
        height: 30px;
        margin: 0 8px;
        font-size: .9rem;
        line-height: 30px;
    }

    .color{
        margin: 0 6px;
        width: 0 20px;
        width: 20px;
        height: 20px;
        border-width: 4px;
    }

    .share{
        width: 35px;
        height: 35px;
        top: 10px;
        right: 10px;
    }

    .share i{
        font-size: .8rem;
        line-height: 35px;
    }

    .logo1{
        width: 60px;
        top: 10px;
        left: 10px;
    }

    .info{
        padding: 20px;
    }
}

@media (max-width: 400px){
    .buy i{
        display: none;
    }

    .container3{
        padding: 20px;
    }
}